@model IEnumerable<OnlineVotingSystem.Models.Voter>

@{
    ViewBag.Title = "Voter List";
    if (Session["userEmail"] == null && Session["userType"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Voter List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<p style="float:left">
    <input type="button" class="btn btn-success" value="Start Vote" onclick="location.href='@Url.Action("StartVote", "Voter")'" />
    <span style="color:red;">
        @TempData["Message"]
    </span>
    &nbsp;  &nbsp;  &nbsp;  &nbsp;
    <input type="button" class="btn btn-danger" value="Stop Vote" onclick="location.href='@Url.Action("EndVote", "Voter")'" /><br />
    <span style="color:red;">
        @TempData["Message"]
    </span>
</p>

<p style="float:right">
    <input type="button" class="btn btn-danger" value="Send Notification to All Voters" onclick="location.href='@Url.Action("SendNotification", "Voter")'" /><br />
    <span style="color:red;">
        @TempData["Message"]
    </span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCommittedVote)
        </th>       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.BloodGroup)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => (bool)item.IsCommittedVote ? "Yes" : "No")*@
            @((bool)item.IsCommittedVote ? "Yes" : "No")
        </td>        
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VoterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VoterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VoterId })
        </td>*@
    </tr>
}

</table>
