@model IEnumerable<OnlineVotingSystem.ViewModel.CandidatePositionViewModel>

@{
    ViewBag.Title = "Position Wise Candidate List";
    if (Session["userEmail"] == null && Session["userType"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<h2>Position Wise Candidate List</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>Position</th>
        <th>Candidate</th>
        <th>No. of Candidates in Each Position</th>
    </tr>

@foreach (var group in Model.GroupBy(item=>item.Position)) {
    <tr>
        <td>
            @Html.Encode(group.Key.PositionName)
        </td>

        <td>
            @foreach(var item in group)
            {
                @Html.Encode(item.Candidate.Name) <br />
            }
        </td>

        <td>
            @group.Count()
        </td>

        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
